.paginator {
    margin: 10px;
}
.pageNumber {
    padding: 2px;
    border: 1px solid orange;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}

.prev {
    border-radius: 50%;
    background-color: #acacac;
    color: black;
}

.prev:hover {
    background-color: #ddd;
   color: black;
}

.next {
   border-radius: 50%;
   background-color: rgb(68, 30, 112);
   color: white;
}

.next:hover {
    background-color: rgb(121, 37, 133);
    color: white;
 }