.loginPage {
    color: white;
}

.login {
    background: linear-gradient(160deg, rgb(68, 68, 68), #be7699);
    left: 0;
    border: 4px;
    width:10%;
    padding: 10px;
    outline: none;
    font-weight: 300;
    color:white;
}