.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
}

.app-wrapper-content {
    grid-area: c;
    background: (330deg, #000, #f0a6ca);
    background: linear-gradient(-50deg, #000, #f0a6ca);
    overflow: hidden;
}

